{% load i18n vidispinetags datetimeformatting %}
<div class="itemcontent">
<ul class="filteritems">
    {{ form.as_ul }}
</ul>
        {# {{ id }} is used when rendering as dashboard widget with multiple instances #}
        <table class="generictbl" id="cliptable{{ id }}">
            <thead>
                <tr>
                    <th>Thumb</th>
                    <th><a href="#">{% trans 'Name' %}</a></th>
                    <th><a href="#">{% trans 'Provider' %}</a></th>
                    <th><a href="#">{% trans 'TC In' %}</a></th>
                    <th><a href="#">{% trans 'Duration' %}</a></th>
                    <th><a href="#">{% trans 'Shooted on' %}</a></th>
                    <th><a href="#">{% trans 'Man.' %}</a></th>
                    <th><a href="#">{% trans 'Model' %}</a></th>
                    <th><a href="#">{% trans 'Serial' %}</a></th>
                    <th><a href="#">{% trans 'Status' %}</a></th>
                    <th><a href="#">{% trans 'Progress' %}</a></th>
                    <th><a href="#">{% trans 'Item' %}</a></th>
                    <th><a href="#">{% trans 'File' %}</a></th>
                    <th><a href="#">{% trans 'Target' %}</a></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
</div><!-- /fullwidthcontent-->

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var priorityTypes = [
            {key: 'LOWEST',  value:'{% trans "Lowest" %}'},
            {key: 'LOW', value: '{% trans "Low" %}'},
            {key: 'MEDIUM', value: '{% trans "Medium" %}'},
            {key: 'HIGH', value: '{% trans "High" %}'},
            {key: 'HIGHEST', value: '{% trans "Highest" %}'}
        ]

		oTbl = $('#cliptable{{ id }}').dataTable({

		    "bLengthChange": false,
            "bServerSide": true,
            "sAjaxDataProp": 'clips',
            "asStripeClasses": [ 'even', 'odd'],
            "bDeferRender": true,
            "sAjaxSource": '{{ ajax_source }}',
            "fnServerData": function ( sSource, aoData, fnCallback ) {

                $.ajax( {
                    "dataType": "json",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
		    "aaSorting": [[ 0, "desc" ]],
		    "aoColumns": [
                {"mDataProp":"thumbnail_url", "bSortable":false,
                        "fnRender": function ( o, val ) {
                        var _info = '<img src="' + o.aData.thumbnail_url + '"/>';
                        return _info;
                    },
                },
                {"mDataProp":"metadatas_set.clipname", "bSortable":true,
                        "fnRender": function ( o, val ) {
                        var _info = '<abbr title="' + o.aData.umid + '">' + o.aData.metadatas_set.clipname + '</abbr>';
                        return _info;
                    },
                },
                {"mDataProp":"provider_name", "bSortable":true},
                {"mDataProp":"metadatas_set.timecode_start", "sDefaultContent": "00:00:00:00", "bUseRendered": true, "bSortable":true},
                {"mDataProp":"duration_readable", "bSortable":true},
                {"mDataProp":"metadatas_set.shooting_date", "bSortable":true},
                {"mDataProp":"metadatas_set.device_manufacturer", "bSortable":true},
                {"mDataProp":"metadatas_set.device_model", "bSortable":true},
                {"mDataProp":"metadatas_set.device_serial", "bSortable":true},
                {"mDataProp":"status_readable", "bSortable":true, "sClass":""},
                {"mDataProp":"progress", "bSortable":false, "sClass":"progressbarcell"},
                {"mDataProp":"item_id", "bSortable":true},
                {"mDataProp":"file_id", "bSortable":true},
                {"mDataProp":"collection_id", "bSortable":true},

            ],
            "fnCreatedRow": function(nRow, aData, iDataIndex, iDisplayIndexFull) {
                nRow.className += 'cliprow-' + aData.status;
            },
            "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                if (aData.state == 'IMPORTED') {
                    aData.progress = 100;
                }
             /* Turn the fifth row -- progress -- into a progressbar with jQuery UI styling */
                if (aData.progress === undefined || aData.progress === '' || aData.progress === null ) {
                    if (aData.state != 'IMPORTED') {
                        aData.progress = 0;
                    }
                } else {
                    if (parseFloat(aData.progress) > 4){
                        aData.progress = parseFloat(aData.progress);
                    } else {
                        aData.progress = 0;
                    }
                }
                progressString = '<div class="ui-progressbar ui-widget-content ui-corner-all" style="height:16px;"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="height:16px;width:'+ aData.progress +'%; overflow:hidden"></div></div>';
                $('.progressbarcell', nRow).html(progressString);
                return nRow;
            },
            "iDisplayLength": parseInt('{{ user.get_profile.paginate_by|default:"50" }}',10),
            "oLanguage": {"sSearch": ""},
            "sDom": '<"top"ipl>rt<"bottom">T<"clear">lfrtip',
  		  
        		"oTableTools": {
        			"sRowSelect": "multi",
        			"aButtons": [ "select_all", "select_none" ]
        		},
            "oLanguage": {
                "sSearch": "",
                "sInfo": '{% trans "Showing" %} _START_ {% trans "to" %} _END_ {% trans "of" %} _TOTAL_ {% trans "clips" %}'}
			});
	$('div.dataTables_filter input').val();
    $('#id_states').change(function(){ oTbl.fnPageChange('first'); oTbl.fnDraw(true); });
    $('#cliptable{{ id }}').on('change', '.prioritychanger', function(eventObject){
        $.ajax({ 
            url: '/clips/datatable/' + $(eventObject.currentTarget).attr('rel') + '/prioritychange/', 
            data: {priority: $(eventObject.currentTarget).val()},
            success: function(data, textStatus, jqXHR) {
                $.growl(data.success, 'success');
            },
            error: function(jqXHR, textStatus, errorThrown){
                 $.growl(data.data, 'error');
            }
        });
    });
    $('.progressbar').progressbar({value: 37});
    //setInterval("oTbl.fnDraw(false)", 5000);

	});
</script>
{% docstring %}
This is the clip overview page table, used by User:Jobs and Job list dashboard widget.

Context
-------



Plugins
-------

{% enddocstring %}
