{% themeextends "TapelessIngest/base.html" %}
{% load i18n compress %}

{% block content %}

{% block extra_script %}
<link type="text/css" href="{{ STATIC_URL }}TapelessIngest/tapelessingest.css" rel="stylesheet">
<script type="text/javascript" src="{{ STATIC_URL }}js/app/collection/utilities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/media/mediabox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>
{% endblock %}

{% load tapelessingest_extras %}

<div class="itemcontent">
  <form action="{% url tapelessingest:index %}" method="post" id="tapelessingestpathform" class="" autocomplete="false">{% csrf_token %}
    <div id="sidebar-left">
      <div id="FolderView" class="tapelessingest-panels">
        <h2>Folders:</h2>
        <fieldset>
          <button type="button" class="button button-navigator" id="cntmo_prtl_folder_browse_lnk">Browse</button>
        </fieldset>
        <table class="generictbl" id="FolderTable">
          <tbody>
          </tbody>
        </table>
      </div>
      <div id="MetadatasView" class="tapelessingest-panels">
        {% themeinclude "media/metadata_render.html" %}
      </div>
    </div>
    <div id="main-content">
      <div id="MainView" class="tapelessingest-panels">
        <h2>Clips:</h2>
        {% themeinclude "TapelessIngest/clip_view_table.html" %}
      </div>
    </div>
  </form>
</div><!--.box -->
{% endblock content %}

{% block inlinejs %}

<script type="text/template" id="tapelessingest_folder_format_tmpl">

    <td class="tdItem"><span class="ui-icon ui-icon-folder-open"></span> <%= basename %></td><td><a href="#" class="cntmo_prtl_FolderTable-pod-rmv">Remove</a></td>

</script>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    if (gblPrtlIsAuthenticated) {
          

          void 0 !== window.$LAB && $LAB.script(gblStaticURL + "TapelessIngest/folders_model.js").wait().script(gblStaticURL + "TapelessIngest/folders_collection.js").wait().script(gblStaticURL + "TapelessIngest/folders_views.js").wait(function() {
              cntmo.app.page.FolderItems = new cntmo.prtl.FolderTable.FolderCollection,
              window.FolderItems = cntmo.app.page.FolderItems,
              !cntmo.app.page.FolderTable & $("#tapelessingest_folder_format_tmpl").length > 0  && (cntmo.app.page.FolderTable = new cntmo.prtl.FolderTable.FolderTableView({
                  collection: cntmo.app.page.FolderItems,
              }), cntmo.prtl.FolderTableApp = cntmo.app.page.FolderTable)
          });        


    }

});
</script>

{% endblock inlinejs %}