{% load i18n %}

<style>
  .folder-table-container {
    max-height: 500px;
    overflow-y: auto;
  }
</style>

<small>{{ path }}</small>
<div class="folder-table-container">
  <table class="generictbl" id="pathtable">
    <thead>
        <tr role="row">
          <th class="">Name</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      {% if parent.path %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td class="folderitem"><span class="ui-icon ui-icon-folder-open"></span> <a href="#" data-path="{{ parent.path }}" class="folder-link">parent</a></td>
          <td></td>
        </tr>
      {% endif %}
      {% for name, path in folders %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td class="folderitem"><span class="ui-icon ui-icon-folder-open"></span> <a href="#" data-path="{{ path }}" class="folder-link">{{name}}</a></td>
          <td class=""><a href="#" data-path="{{ path }}" class="folder-add-link">Add</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

