{% themeextends "admin/base_admin.html" %}
{% load i18n %}
{% block title %} TapelessIngest {% endblock %}
{% block heading %} TapelessIngest Settings {% endblock heading %}
{% block extra_script %}
<script type="text/javascript" charset="utf-8">
    var STATIC_URL = '{{ STATIC_URL }}';
    var metadatas_count = parseInt('{{ metadatas|length }}',10)-1;
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>
{% endblock %}
{% block content %}
<style>
    .file_valid {
        color: green;
    }

    .file_error {
        color: red;
    }
</style>

<div class="itemcontent">

    <form method="POST" class="formmain">
        {% csrf_token %}
        <fieldset>
            <ul class="tabs">
                <li><a href="#settings_tab"><em>{% trans "Global Settings" %}</em></a></li>
                <li><a href="#ignoredfolders_tab"><em>{% trans "Ignored Folders" %}</em></a></li>
                <li><a href="#renamedfolders_tab"><em>{% trans "Renamed Folders" %}</em></a></li>
                <li><a href="#metadatasmapping_tab"><em>{% trans "Metadatas Mappings" %}</em></a></li>
            </ul>

            <div class="panes">
                <div id="settings_tab" class="clearfix tab">
                    <ul>
                        <li>
                            <label for="settings-storage_id">Target storage</label>
                            {{ settings_form.storage_id }} {% if storage_root_path %}{{ storage_root_path }}{% endif %}
                        </li>
        
                        <li>
                            <label for="settings-tmp_storage">Temporary storage</label>
                            {{ settings_form.tmp_storage }}
                        </li>
        
                        <li>
                            <label for="settings-base_folder">Base folder</label>
                            {{ settings_form.base_folder }}
                        </li>
        
                        <li>
                            <label for="settings-bmxtranswrap">BMXTransWrap library</label>
                            {{ settings_form.bmxtranswrap }}
                        </li>
        
                        <li>
                            <label for="settings-mxf2raw">MXF2Raw library</label>
                            {{ settings_form.mxf2raw }}
                        </li>
                    </ul>
                </div>
                <div id="ignoredfolders_tab" class="clearfix tab">
                    <label for="settings-collections_ignore_folder_str">Ignore these folder when creating collection</label>
                    {{ settings_form.collections_ignore_folder_str }}
                </div>
                <div id="renamedfolders_tab" class="clearfix tab">
                    <label for="settings-collections_rename_folder_str">Rename these folder when creating collection</label>
                    {{ settings_form.collections_rename_folder_str }}
                </div>
                <div id="metadatasmapping_tab" class="clearfix tab">
                    <ul>
                        {{ metadatas_form.management_form }}
                        {{ metadatas_form.non_form_errors }}
                        <table class="generictbl" id="tablemetadatasmapping">
                            <tr>
                                <th>{% trans 'Camera metadata' %}</th>
                                <th>{% trans 'Portal metadata' %}</th>
                                <th></th>
                                <th>{% trans 'Remove?' %}</th>
                            </tr>
                            {% for form in metadatas_form %}
                                {% if form.non_field_errors or form.errors %}
                                <tr>
                                    <td colspan=3>
                                        {{form.non_field_errors}}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    {% for field in form %}
                                        <td class="form-select2">{{field.errors}} {{field}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            <tr id="metadata-empty-form">
                                {% for field in metadatas_form.empty_form %}
                                    <td class="metadata-new-form-__prefix__">{{field.errors}} {{field}}</td>
                                {% endfor %}
                            </tr>
                        </table>
                        <li class="mono"><button id="addmmbut" class="button">{% trans "Add Mapping" %}</button></li>
                    </ul>
                </div>
            </div>

            <ul>
                <li class="mono">
                    <input type="submit" value="{% trans 'Save &amp; continue' %}" id="submit" class="button"/>
                    <input type="submit" value="{% trans 'Loading' %}..." id="submit_loading" class="button" style="visibility: hidden" disabled/>
                </li>
            </ul>
        </fieldset>

    </form>
</div><!-- /itemcontent-->

<script>

</script>
{% endblock content %}
{% block inlinejs %}
<script>
    $(document).ready(function() {

        $("ul.tabs").tabs("div.panes > div");
        $('#metadata-empty-form').hide();
        
        $('#tablemetadatasmapping .form-select2 select').select2();
        
        var tblRC = metadatas_count + 1,
        tblEL = 0;
        
        $("#addmmbut").click(function(e) {
            e.preventDefault();
            var form_idx = $('#id_metadata-TOTAL_FORMS').val();
            var newElement = $('#metadata-empty-form').clone().removeAttr('id').show();
            //newElement.find('select').select2();
            newElement.html(newElement.html().replace(/__prefix__/g, form_idx))
            $('#tablemetadatasmapping tbody').append(newElement);
            $('.metadata-new-form-' + form_idx + ' select').select2();
            $('#id_metadata-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
        
        $(".deletegprow").live("click", function() {
            $(this).parents("tr").remove()
        })
    });
</script>

{% endblock inlinejs %}